@font-face {
    font-family: 'Altivo';
    src: url('./Fontspring-DEMO-altivo-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Altivo';
    src: url('./Fontspring-DEMO-altivo-italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Altivo';
    src: url('./Fontspring-DEMO-altivo-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Altivo';
    src: url('./Fontspring-DEMO-altivo-bolditalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Medium weight (500) */
@font-face {
    font-family: 'Altivo';
    src: url('./Fontspring-DEMO-altivo-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Light weight (300) */
@font-face {
    font-family: 'Altivo';
    src: url('./Fontspring-DEMO-altivo-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
