.scrollbar {
    background-color: transparent;
    border-radius: 10px;

    @mixin hover {
        background-color: var(--mantine-color-mainBlue-6) !important;
        & .scrollbarThumb {
            background-color: var(--mantine-color-lightBlue-6) !important;
            margin: 1px 8px 1px 8px;
        }
    }
}

.scrollbarThumb {
    background-color: var(--mantine-color-mainBlue-6);
    margin: 0px 8px 0px 8px;


    @mixin hover {
        background-color: var(--mantine-color-lightBlue-6) !important;
        margin: 1px 8px 1px 8px;

    }
}

.scrollbarViewport {
    padding-bottom: 20px !important;
}

.scrollbarRoot {
    width: 98% !important;
}