.container {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.stepIcon {
    border-width: 4px;
    color: white;
    background-color: white;
    border: 4px solid #0e2e58;
}

.stepIcon[data-progress="true"] {
    background-color: #0e2e58;
    color: #0e2e58;
}

.stepCompletedIcon {
    display: none;
}

.separator {
    background-color: #0e2e58;
}

.inputWrapper {
    border-bottom: 2px solid #0e2e58;
}

.pill {
    background: linear-gradient(150deg, rgba(255, 255, 255, 1) 0%, rgba(55, 197, 231, 0.3) 50%, rgba(255, 255, 255, 1) 100%);
    color: black;
}

.dropdown {
    background: linear-gradient(150deg, rgba(255, 255, 255, 0.7) 0%, rgba(55, 197, 231, 0.2) 50%, rgba(255, 255, 255, 0.1) 100%);
    color: black;
    border: none;
    box-shadow: #37c5e7 0px 0px 0px 1px, #37c5e7 0px 4px 16px;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.asterisk {
    color: var(--mantine-color-mainBlue-6);
}

.dropdown::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(55, 197, 231, 0.2) 50%, rgba(255, 255, 255, 1) 100%);
    filter: blur(5px);
    z-index: -1;
    border-radius: inherit;
}

.inputInner {
    border: none;
}

